.uniti
  .osk
    .kensaku ユーザー検索
    %input
    .btn.btn-primary.kensaku_button
      検索
    <hr>
    .user_profile1
      .user_image1
        %p 写真
      .user_name1
        .namae1 アーノルド・シュワルツネッガー
        .shousai 173cm/80kg トレーニング歴：3年
    .user_profile2  
      .user_image2
        %p 写真
      .user_name2
        %p.namae2 真本 周平之助
    .user_profile3
      .user_image3
        %p 写真
      .user_name3
        %p.namae3 真本 周平之助
    .user_profile4
      .user_image4
        %p 写真
      .user_name4
        %p.namae4 真本 周平之助
    .user_profile5
      .user_image5
        %p 写真
      .user_name5
        %p.namae5 真本 周平之助
  