.row
  .col-2.my-0.ml-3.justify-content-center.w-15
    = render partial: "shared/user_info", locals: { userbody: @userbody, user: @user }
    
  .col-7.uniti
    .kensaku 
      %p.margin ユーザー検索
      <hr>
      .kensaku_form_group
        .kensaku_form
          %label
          ユーザーネーム：
          %input.hoge
          
        .kensaku_height
          %label
          身長：
          %input.huga
          %p.between 〜
          %input.huga
        .kensaku_weight
          %label
          体重：
          %input.huga
          %p.between 〜
          %input.huga
      .btn.btn-primary.kensaku_button
        検索
      <hr>
      .user_profile
        .user_image
          %p 写真
        .user_name
          .namae アーノルド・シュワルツネッガー
          .shousai 173cm／80kg トレーニング歴：3年
      .user_profile  
        .user_image
          %p 写真
        .user_name
          %p.namae 真本 周平之助
      .user_profile
        .user_image
          %p 写真
        .user_name
          %p.namae 真本 周平之助
      .user_profile
        .user_image
          %p 写真
        .user_name
          %p.namae 真本 周平之助
      .user_profile
        .user_image
          %p 写真
        .user_name
          %p.namae 真本 周平之助  
  .col-2.w-22
  