.row
  .col-2.card.justify-content-center.m-5
    .div.mt-4
      %h4 name
      %p ウィルスミス
    .div.mt-4
      %h4 身長
      %p 185cm
    .div.mt-4
      %h4 体重
      %p 80kg
    .div.mt-4
      %h4 BMI
      %p 20
    .div.mt-4
      %h4 基礎代謝
      %p 1000
  .col-7.card.m-5.justify-content-center
    = month_calendar events: @training_records do |date, training_records| 
      = date.day

      - training_records.each do |training_record|
        .excersize
          = training_record.parts
