- parts = []
- training_records.each do |training_record|
  - parts << training_record.part
- parts.uniq.each do |part|
  - case part
  - when '胸'
    - value = 'chest'
  - when '肩'
    - value = 'shoulder'
  - when '腕'
    - value = 'arms'
  - when '背中'
    - value = 'back'
    %div{ class: "#{value}_color"}
      背
      %span.sp_hide 中
    - part = nil
  - when '脚'
    - value = 'foots'
  - when '有酸素'
    - value = 'aerobics'
    %div{ class: "#{value}_color"}
      有
      %span.sp_hide 酸
      %span.sp_hide 素
    - part = nil
  %div{ class: "#{value}_color"}
    = part