.card
  .form_group.m-5.text-center
    %h4 本当に削除しますか？
  .action.mx-5.mb-5.row.justify-content-around
    = link_to '#', method: :delete, id: "delete-submit" do
      %i.fas.fa-3x.fa-check-circle.cursor_pointer.d-inline-flex.confirm_btn

    %i.fas.fa-3x.fa-times-circle.close_button.cursor_pointer.d-inline-flex.delete_btn{value: '#delete_image'}
