.card
  %h2 本当に削除いたしますか？
  .action.m-5.row.justify-content-around
    %i.fas.fa-3x.fa-check-circle.cursor_pointer.d-inline-flex

    %i.fas.fa-3x.fa-times-circle.close_button.cursor_pointer.d-inline-flex
