.overlay
.body_modal
  .body_modal__inner
    #edit_body.hide
      - unless @userbody == nil
        = render partial: "shared/user_body_edit"
    #delete_image.hide
      = render partial: "shared/delete_image"
    #html_to_modal_box.card.hide