-# 記事詳細ページ
-# .row.no-gutters
  -# .col-2.sidebar.border_right.justify-content-center
.col-12.mt-3.justify-content-center.column.text_align_center
  %hr
  %p.text_align_center.fontsize_20
    綺麗な大胸筋を手に入れろ！この夏あなたに送りたい胸トレ10選（前編）
  %hr
  .column_picture1.justify-content-center.margin_bottom_20.padding_bothside_30.background_color_white
    = image_tag asset_path("chest_training_1")
  .column1_text.justify-content-center.padding_bothside_30.text_align_left
    %p
    男らしい大胸筋を手に入れたい！！けれどもどんなトレーニングをすればいいのかわからない。。。みなさんこんな経験あるのではないでしょうか？今日はそんなあなたにとっておきの胸トレ10種目をご紹介します。<br>
    <br>
    1. バーベルベンチプレス<br>
    部位：大胸筋中部<br>
    ポイント：<br>
    バーベルベンチプレスは最も力を生み出すことができる種目であり、高重量を扱うことが可能です。また、ダンベルを使ったトレーニングよりも比較的コントロールが簡単です。
    バーベルの左右に均等に重りをつけ、ラックから持ち上げます。乳首と乳首の延長線上にゆっくりとバーベルを下ろし、一気に挙上します。<br>
    また、手の握り幅を変えることで効かせたい筋肉を微妙に調整することが可能です。手幅を広くするとより大胸筋に、狭くすると上腕三頭筋に負荷をかけることができます。<br>
    <br>
    2. フラットベンチダンベルプレス<br>
    部位：大胸筋中部<br>
    ポイント：<br>
    ダンベルを使用する際は、体の両側を独立して動かす必要があります。そのためダンベルはバーベルよりも制御が難しいと言えるでしょう。また、ダンベルベンチプレスではバーベルベンチプレスよりも可動域を多くとることが可能なため、ダンベルを下ろしてくる際に大胸筋へストレッチをよりかけることが出来ます。<br>
    基本的な動作はバーベルベンチプレスと同様です。ただし、上述の通り、体の両側を別々に動かす必要があるため、しっかりと体幹を固め、ダンベルと自身の体をコントロールすることを心がけましょう。<br>
    <br>
    3. インクラインバーベルベンチプレス<br>
    部位：大胸筋上部・三角筋前部<br>
    ポイント：<br>
    前述のフラットベンチでのベンチプレスでは大胸筋の中部に負荷をかけることが出来ますが、角度のついたベンチで行うことにより、大胸筋上部〜三角筋前部に負荷をかけることが可能になります。<br>
    ベンチに傾きがある分、バーベルのコントロールは難しくなるため、初心者の方はスミスマシンを利用すると怪我のリスクを下げることができるでしょう。<br>
    また、疲れてくると大胸筋上部へ意識して負荷をかけることが難しくなるため、フレッシュな状態で迎えられる最初の種目に持ってくるのも効率的だと言えます。<br>
    <br>
    4. マシンディクラインプレス<br>
    部位：大胸筋下部<br>
    ポイント：<br>
    美しい大胸筋にははっきりとした大胸筋の輪郭が必要不可欠です。マシンを使ったディクラインプレスでは大胸筋下部に刺激を入れることが可能です。マシンを押し出す際、大胸筋下部が収縮しているのを感じながら行ってください。トップポジションで何秒間かキープすることでより収縮を感じることも出来ます。<br>
    <br>
    5. シーテッドマシンチェストプレス <br>
    部位：大胸筋上部・三角筋前部<br>
    ポイント：<br>
    バーベルベンチプレス等のフリーウエイトを使ったトレーニングも非常に効果的ですが、マシンを使ったトレーニングでも十分な効果は得られます。<br>
    マシンでは可動域が限定的であるため、トレーニング中の動作をコントロールしやすいです。また、重量の変更も素早く行うことができるため、ドロップセットなども容易に実施することが出来ます。<br>
    トレーニングの終盤に行うのが良いでしょう。胸部にストレッチを感じながら正しいフォームで行いましょう。<br>
    <br>
    厳選胸トレーニング10選の前半はここまで！残りの5種目は来週お伝えできればと思います！<br>
    それでは！<br>
    <br>
    <br>
    <br>