.col-12.mt-3.justify-content-center.column.text_align_center
  %hr
  %p.text_align_center.fontsize_20
    筋トレ中って呼吸を止めちゃいけないってホント？！　
  %hr
  .column_picture1.justify-content-center.margin_bottom_20.padding_bothside_30.background_color_white
    = image_tag asset_path("breath_in_training")
  .column1_text.justify-content-center.padding_bothside_30.text_align_left
    %p 
    こんにちは。<br>
    皆さんは筋トレ中にトレーナーから「呼吸を止めずに！」と言われたことはありませんか？<br>
    私も100kgのバーベルを持ち上げる時「んっ！」と思わず息こらえしてしまいます。この息こらえ、本当にしない方がいいのでしょうか？今日はその真相に迫りましょう。<br>
    <br>
    Q. 息こらえしちゃダメなの？<br>
    結論から言うと問題ありません！健康な人であれば体に悪いことは起きないと言われていますし、中にはメリットすらあると考える人もいます。<br>
    <br>
    Q. 息こらえをすると何が起きるの？<br>
    息こらえは医学的にValsalva Maneuver（バルサルバ手技）と言われ、体に様々な変化をもたらします。<br>
    その一つに、バルサルバ手技を行うと頭蓋内の圧が上がり脳の血の巡りが一時的に少し悪くなります。それを補おうと血圧があがることで血の巡りを維持する働きが人間には備わっています。これにより脳出血が起きたり全身の血管に悪いことが起きるのではないかという考えのもと、筋トレ中に息こらえをしてはいけないという迷信が広がりました。しかし、11名の脳外科の内視鏡手術中の患者を対象にした研究では、バルサルバ手技をしても重大な脳血流低下も出血もなかったと報告しています。他にも、バルサルバ手技によって脳卒中や心筋梗塞など血管の病気を引き起こすと示したいうデータはありません。<br>
    <br>
    息こらえのいいこと<br>
    競技スポーツをしている人はよく体幹を鍛えて、動作を安定させていると言いますよね？息こらえによる体幹の安定性向上はもしかすると本当かもしれません。シドニー大学の研究ではバルサルバ手技によって腹腔内圧が上がることで体幹が硬くなり脊柱の安定性が向上したと報告されています。このメリットは確実に実証されたものではありませんが、安直に息こらえを悪者にするのはもったいない気がしませんか？<br>
    <br>
    息こらえはしても良い！<br>
    そもそも息こらえをしながらトレーニングをしている人は世界にゴマンといます。くしゃみ・セックス・排便が問題ないのに、これだけで脳出血が起こる人がそういないことは想像に難くないでしょう。特に長年の高血圧だったり動脈瘤の指摘がある人でなければ、息こらえをしてはいけないというのは完全な迷信です。どうしても心配な人はメディカルチェックを受けてから運動をすることをお勧めします。<br>
    <br>
    さて、ちょっと賢くなったところで早速Work outに出かけましょう！そして、もしトレーナーが「息を止めずに！」と行って来たら、どや顔でこの話を教えてあげましょう！<br>
    <br>
    参考<br>
    Hackett DA, et al. J Strength Cond Res. 2013;27(8):2338.



