-# 記事詳細ページ
-# .row.no-gutters
  -# .col-2.sidebar.border_right.justify-content-center
.col-12.mt-3.justify-content-center.column.text_align_center
  %hr
  %p.text_align_center.fontsize_20
    これって熱中症・・・？？　絶対に身につけておきたい熱中症の基礎知識
  %hr
  .column_picture1.justify-content-center.margin_bottom_20.padding_bothside_30.background_color_white
    = image_tag asset_path("heatstroke")
  .column1_text.justify-content-center.padding_bothside_30.text_align_left
    %p 
    <br>
    こんにちは。<br>
    梅雨があけて夏真っ盛りになると水着を着たり薄着になったりと体のラインをさらす機会も増えてきますね！トレーニングに身が入る季節だからこそ気を付けたいのが熱中症です。自分には関係ないと思っていても、誰にでも起こる可能性があり、時に命を落とす怖い病気です。ご自身や大切な人の健康と命を守るため、しっかり知識をつけましょう。<br>
    <br>
    Q. そもそも熱中症って何？<br>
    実は熱中症大きく2つに分かれます<br>
    ① Classic Heatstroke <br>
    高齢者や子供が暑い天候に耐えられず起こる<br>
    ② Exertional Heatstroke <br>
    運動を行うことによって起こる<br>
    <br>
    ここではExertional Heatstrokeを中心に説明していきます。運動することにより熱が産生されますが、人間は元来その熱を逃がす機構が備わっています。熱の産生が亢進し、逃がす機能とのバランスが破綻することによって熱で体中の細胞が破壊され熱中症が起こります。研究では、普段と同様のトレーニングでも、短時間のトレーニングでも熱中症が起こると報告されています。また、必ずしも暑い環境でなくても起こるとも言われています。熱に対する耐性も遺伝子レベルで個人差があるという可能性も指摘もあり、健康に自信があるという人も要注意です。<br>
    <br>
    Q. どんな症状があるの？<br>
    熱中症になる高体温、混乱、めまい、吐き気などが見られます。<br>
    運動していて朦朧としてきたり、立ちくらみがしたり、休息しても脈拍が速くていつもよりも呼吸がはやかったりする場合は、トレーニングは直ちに中止してください。また、汗をかいているから大丈夫という認識も間違っています。Exertional Heatstrokeは汗をびっしょりかいていても起こります。<br>
    <br>
    Q. 熱中症かも…どうしたらよいの？<br>
    そして、上記のような症状がおさまらず熱中症が疑われる場合は、必ず病院受診が必要です。休んでいても細胞の破壊が進むと重篤化することがあるためです。病院で熱中症と診断されれば、水や冷風で体を冷やす処置を行います。点滴によって体を冷やすことも少なくありません。<br>
    屋外で直ぐに病院受診ができない場合や、病院までの移動に時間がかかる場合は、体を冷やすことが一番大切です。水を体にかけて扇風機で風を吹きかけたり、冷えたものを体にあてがったりすることで効率よく冷やすことができます。<br>
    <br>
    Q. そもそも熱中症にならないために何をしたらいいの？<br>
    ポイントは水分、冷やす、無理をしない！です。<br>
    ・蒸れにくいトレーニングウェアを着る<br>
    ・屋外運動はできるだけ控え、特に日中の暑い時間に避ける<br>
    ・屋内トレーニングでもエアコンが行き届いた環境で行う<br>
    ・適切に水分摂取をして脱水を避ける<br>
    ・アルコールを飲んだ後や残っている状態での運動は控える<br>
    ・体調がすぐれないときはトレーニングを控える<br>
    ・適度に休息する<br>
    ・冷たいシャワーを浴びて体を冷やす<br>
    これで熱中症に備えましょう。<br>
    <br>
    以上、熱中症についてでした！<br>
    トレーニングをして不健康になってしまっては元も子もありませんよね。無理のし過ぎには注意して健康に体づくりをしていきましょう！<br>
    <br>
    参考：Yoram Epstein, et al. N Engl J Med 2019; 380:2449-2459
    <br>
    <br>
    <br>
    <br>



                  
