-# 記事詳細ページ
.row.no-gutters
  .col-2.sidebar.border_right.justify-content-center
  .col-8.mt-3.padding_bothside.justify-content-center
    %hr
    %p.text_align_center.fontsize_20
      コナミ・セントラル・ルネサンス、運動不足のあなたに【スポーツクラブ3選】
    %hr
    .column_picture1.justify-content-center.margin_bottom_20.padding_bothside_30.background_color_white
      = image_tag asset_path("toppage_beginners"), size:"640x300"
    .column1_text.justify-content-center.fontsize_15.padding_bothside_30.text_align_left
      %p 多忙なサラリーマンにとっての悩みのタネの一つが日頃の運動不足。勤め帰りに立ち寄り、汗を流せるのがスポーツクラブ。マシンジム、スタジオ、プールを備える総合系スポーツクラブを展開する3社
  .col-2.sidebar.border_left.justify-content-center
