-# 記事詳細ページ
.container-fuild.columu
  .headline.justify-content-center
    .title-head.text-center.my-6
      %hr
      %p コナミ・セントラル・ルネサンス、運動不足のあなたに【スポーツクラブ3選】
      %hr
      .column_picture1
        = image_tag "/assets/toppage_beginners" ,size:"640x300"
      .column1
        .column1_text.justify-content-center
          %p 多忙なサラリーマンにとっての悩みのタネの一つが日頃の運動不足。勤め帰りに立ち寄り、汗を流せるのがスポーツクラブ。マシンジム、スタジオ、プールを備える総合系スポーツクラブを展開する3社