-# 記事詳細ページ
-# .row.no-gutters
  -# .col-2.sidebar.border_right.justify-content-center
.col-12.mt-3.justify-content-center.column.text_align_center
  %hr
  %p.text_align_center.fontsize_20
    綺麗な大胸筋を手に入れろ！この夏あなたに送りたい胸トレ10選（後編）
  %hr
  .column_picture1.justify-content-center.margin_bottom_20.padding_bothside_30.background_color_white
    = image_tag asset_path("chest_training_2")
  .column1_text.justify-content-center.padding_bothside_30.text_align_left
    %p
    男らしい大胸筋を手に入れたい！！けれどもどんなトレーニングをすればいいのかわからない。。。みなさんこんな経験あるのではないでしょうか？<br>
    今日は厳選胸トレ後半戦です！<br>
    <br>
    6. インクラインダンベルプレス <br>
    部位：大胸筋上部・三角筋前部<br>
    ポイント：<br>
    基本的な動作はバーベルを用いたインクラインベンチプレスと同様です。ダンベルを使用することで不安定さが増すため、体の細かい筋肉を使いながらしっかりと体幹をキープしましょう。<br>
    <br>
    7. ディップス<br>
    部位：大胸筋下部・上腕三頭筋<br>
    ポイント：<br>
    足を自分の体の後ろに置きいて可能な限り前傾し、肘を広げるようにします。そのまま体を下ろして行き、大胸筋にストレッチを感じたらバーを押して状態を戻します。<br>
    自重トレーニングですが、負荷が足りないと感じた場合は重りを体につけることによってより高い負荷でトレーニングすることが可能です。<br>
    <br>
    8. ケーブルフライ<br>
    部位：大胸筋内側<br>
    ポイント：<br>
    ケーブルマシンを背に直立し両腕を開きグリップを握り、床と平行の軌道で肘をあまり曲げずに腕を閉じます。腕を閉じた位置で軽く両手を前に押し出し、ゆっくりとコントロールしながら元の位置に戻しましょう。<br>
    高重量で実施する必要はなく、大胸筋内側に強烈な収縮を感じることができる程度の強度で行いましょう。トレーニングの仕上げとして行うのが最適です。<br>
    <br>
    9. ダンベルプルオーバー<br>
    部位：大胸筋全般<br>
    ポイント：<br>
    上背部をベンチにつけ仰向けになって胸の上にダンベルを構え、 肘を曲げたままダンベルを後方に下ろします。しっかりと収縮を感じたら大胸筋に意識を集中し肘を閉じながら元に戻しましょう。多くの胸種目が大胸筋に対して横の刺激であるのに対し、このエクササイズは縦の刺激を入れることができる数少ない種目です。<br>
    <br>
    10. ペックデックマシン<br>
    部位：大胸筋内側・三角筋前部<br>
    ポイント：
    マシンに座り、椅子の高さを肘をパッドに当てたときに肘が90度の角度になるようにセットします。胸を張って肩甲骨を寄せた状態にしてから肘同士を近づけるようにアームを内側に寄せていきます。限界まで寄せたら、ゆっくりと腕を開いて、元に戻していきます。
    腕を開いていく際は、しっかりと大胸筋にストレッチがかかっていることを意識しながら、ゆっくりと戻して行きましょう。<br>
    <br>
    さて、ここまで胸に効く10のトレーニングをご紹介して参りました。<br>
    お、良さそうだな！と思ったそこのあなた！ぐずぐずしてる場合じゃないですよ！すぐジムに行って実践しましょう！<br>
    それでは次回のコラムでお会いしましょう。
    <br>
    <br>
    <br>