//管理者情報ページ
.row.no-gutters
    .col-2.sidebar.border_right
    .col-8
        .adimin_info_header.text_align_center.fontsize_20.padding_top.padding_bottom.border_top.border_bottom
            %p.margin_bottom_0 管理者情報
        .admin_info_content.text_align_center.fontsize_25.padding_top
            %p Sorry!     Coming Soon....
    .col-2.sidebar.border_left

    