-# 記事一覧ページ
.container-fuild.art
  .title-head.text-center.my-6.fontsize_20
    
    %p.mt-4 コラム一覧
    %hr
  = link_to a_column_toppages_path do
    .article 
      .article_picture1
        = image_tag asset_path("toppage_beginners")
      .article1
        .article1_date.fontsize_15.text_align_left
          %p 2019/06/08
        .article1_headline.justify-content-center.fontsize_13.text_align_left
          %p コナミ・セントラル・ルネサンス、運動不足のあなたに【スポーツクラブ3選】
          %hr
        .article1_text.justify-content-center.fontsize_13.text_align_left
          %p 多忙なサラリーマンにとっての悩みのタネの一つが日頃の運動不足。勤め帰りに立ち寄り、汗を流せるのがスポーツクラブ。マシンジム、スタジオ、プールを備える総合系スポーツクラブを展開する3社 ....
        -# .btn.detail_button
        -#     %p Details
    .article
      .article_picture1
        = image_tag asset_path("karate-1343889__480")
      .article1
        .article1_date.fontsize_15.text_align_left
          %p 2019/06/06
        .article1_headline.justify-content-center.fontsize_13.text_align_left
          %p コナミ・セントラル・ルネサンス、
          %hr
        .article1_text.justify-content-center.fontsize_13.text_align_left
          %p 多忙なサラリーマンにとっての悩みのタネの一つが日頃の運動不足。勤め帰りに立ち寄り、汗を流せるのがスポーツクラブ。マシンジム、スタジオ、プールを備える総合系スポーツクラブを展開する3社 ....
        -# .btn.detail_button
        -#   %p Details
