
.row
  .col-1.sidebar
  .col-10
    .headline.justify-content-center
      .title-head.text-center.my-5
        .aaa
          %p About Our Service
          .bbb
            M-Repはトレーニングを愛する全ての人のライフスタイルを総合的にサポートするメディアです。<br>
            男性でも女性でも、初心者でも上級者でもお楽しみ頂けるコンテンツをお届け致します。

          .c
            = image_tag "/assets/toppage_beginners" ,size: "530x400"
          .d
            .d1.justify-content-center
              %p For  Every  Beginners
            .d2.justify-content-center
              %p 〜 Let's get started from here 〜
            .d3.justify-content-center
              %p
                トレーニング・食事・サプリメント等、必要な情報は全てここから<br>
                初心者の方でも分かりやすいコラムを掲載！
            .btn.btn-primary.learn_button1.justify-content-center
              %p Learn More
          .e
            .e1.justify-content-center
              %p For  Every  Trainees
            .e2.justify-content-center
              %p 〜 Fit Yourself 〜
            .e3.justify-content-center
              %p
                日々のトレーニング内容の記録とデータ分析であなたのトレーニングを管理<br>
                アプリとの連携でより便利に
            .btn.btn-primary.learn_button2
              %p Learn More
          .f
            = image_tag "/assets/karate-1343889__480" ,size: "530x400"
  .col-1.sidebar