
.toppage
  = link_to image_tag("/assets/toppage.png")

.container-fuild
  .headline.row.justify-content-center
    .col-3.justify-content-center.text-center.my-5
      %h2 about us
  .description
    .col-10
      %p このサイトは筋トレ好きによる筋トレの管理を行います。
      %p Rep.co,Ltd;