//プロテインレビューサイト
.row.no-gutters
    .col-2.sidebar.border_right
    .col-8
        .protein_review_header.text_align_center.fontsize_20.padding_top.padding_bottom.border_top.border_bottom
            %p.margin_bottom_0 プロテインレビュー
        .review_content.text_align_center.fontsize_25.padding_top
            %p Sorry!     Coming Soon....
    
    .col-2.sidebar.border_left