


.row
  .col-2.card.my-5.ml-5.justify-content-center.w-13
    = render partial: "shared/user_info", locals: { userbody: @userbody, user: @user }



  .col-7.mt-5{"data-turbolinks" => "false"}
    .btn-group.cursor_pointer
      .btn.btn-primary.mr-2.graph.cursor_pointer{value: 'Total'}
        Total
      .btn.btn-primary.mr-2.graph.cursor_pointer{value: '胸'}
        胸
      .btn.btn-primary.mr-2.graph.cursor_pointer{value: '肩'}
        肩
      .btn.btn-primary.mr-2.graph.cursor_pointer{value: '腕'}
        腕
      .btn.btn-primary.mr-2.graph.cursor_pointer{value: '背中'}
        背中
      .btn.btn-primary.mr-2.graph.cursor_pointer{value: '脚'}
        脚
      .btn.btn-primary.mr-2.graph.cursor_pointer{value: '有酸素'}
        有酸素

    %canvas#myChart{height: "400", width: "900", class: 'mt-5'}
