.row.no-gutters
  .col-2.sidebar.justify-content-center.px-3.border_right.padding_top
    = render partial: "shared/user_info", locals: { userbody: @userbody, user: @user }

  .col-8.mt-5.padding_bothside_30
    .total_weight
    %p.text_align_center.fontsize_25 総負荷量
    %hr
    -# ここで cursor_pointer 指定すれば子要素全部に有効
    .btn-group.cursor_pointer.ml-5
      .form-check-inline
        -# .graphで発火させる。.radio_btnは {display: none;} ,input.chart_btnタグにつける
        %input.chart_btn#radio_total.radio_btn{type: 'radio', name: 'check_part', value: 'Total', checked: 'true'}
        %label.part_label.form-check-label.btn.btn-primary.fontsize_13{for: 'radio_total'} total
      .form-check-inline
        %input.chart_btn#radio_chest.radio_btn{type: 'radio', name: 'check_part', value: '胸'}
        %label.part_label.form-check-label.btn.btn-primary.fontsize_13{for: 'radio_chest'} 胸
      .form-check-inline
        %input.chart_btn#radio_arm.radio_btn{type: 'radio', name: 'check_part', value: '腕'}
        %label.part_label.form-check-label.btn.btn-primary.fontsize_13{for: 'radio_arm'} 腕
      .form-check-inline
        %input.chart_btn#radio_shoulder.radio_btn{type: 'radio', name: 'check_part', value: '肩'}
        %label.part_label.form-check-label.btn.btn-primary.fontsize_13{for: 'radio_shoulder'} 肩
      .form-check-inline
        %input.chart_btn#radio_back.radio_btn{type: 'radio', name: 'check_part', value: '背中'}
        %label.part_label.form-check-label.btn.btn-primary.fontsize_13{for: 'radio_back'} 背中
      .form-check-inline
        %input.chart_btn#radio_leg.radio_btn{type: 'radio', name: 'check_part', value: '脚'}
        %label.part_label.form-check-label.btn.btn-primary.fontsize_13{for: 'radio_leg'} 脚
      .form-check-inline
        %input.chart_btn#radio_aerobic.radio_btn{type: 'radio', name: 'check_part', value: '有酸素'}
        %label.part_label.form-check-label.btn.btn-primary.fontsize_13{for: 'radio_aerobic'} 有酸素

    .btn-group.margin_left_30
      .form-check-inline
        %input.chart_btn#check_month.radio_btn.form-check-input.chart_btn.mr-2.cursor_pointer{type: 'radio', name: 'unit', value: 'month', checked: 'true'}
        %label.unit_label.form-check-label.btn.btn-secondary.fontsize_13{for: 'check_month'} 月
      .form-check-inline
        %input.chart_btn#check_week.radio_btn.form-check-input.chart_btn.mr-2.cursor_pointer{type: 'radio', name: 'unit', value: 'week'}
        %label.unit_label.form-check-label.btn.btn-secondary.fontsize_13{for: 'check_week'} 週
    %hr

    %canvas#myChart.mt-4

  .col-2.sidebar.border_left
