// Place all the styles related to the trainings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cursor_pointer{
  cursor: pointer;
}
.col-3{
  border-right: solid rgb(245, 248, 250);
  background-color: rgb(245, 248, 250);
  // padding: 10px 20px 0px 20px;
}
