// 記事一覧ページ
.art{
  margin: 0px 50px 0px 50px;
  background-color: white;
}
.title-head{
  font-size: 25px;
  font-style: italic;
}
.article_picture1,.article1{
  float: left;
  border-color: yellow;
  width: 50%;
}
.article_picture1{
  display: inline-block;      /* インラインブロック要素にする */
  margin: 10px 0px 0px 0px;
  background-color: white;
}
.article1{
  display: inline-block;      /* インラインブロック要素にする */
  margin: 10px 0px 30px 0px;
  height: 300px;
  background-color: white;
  border-top: solid rgba(0, 0, 0, 0.1);
  border-bottom: solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0px 1px 0px;
  .article1_date{
    margin: 10px 0px 0px 20px;
    font-size: 15px;
    font-style: normal;
    text-align: left;
  }
  .article1_headline{
    margin: 10px 0px 0px 20px;
    font-size: 15px;
    font-style: normal;
    text-align: left;
  }
  .article1_text{
    margin: 10px 0px 10px 30px;
    font-size: 15px;
    font-style: normal;
    text-align: left;
  }
  .article_picture2{
    display: inline-block;      /* インラインブロック要素にする */
    margin: 10px 0px 0px 0px;
    width: 300px;
    background-color: white;
  }
}
.detail_button{
  display: inline-block;
  background-color:black;
  color: white;
  border-color: black;
  width: 80px;
  height: 30px;
}

//   ------------------------------------------------------a_column
.columu{
  margin: 0px 200px 0px 200px;
  background-color: white;
  border-right: solid rgba(0, 0, 0, 0.1);
  border-left: solid rgba(0, 0, 0, 0.1);
  border-width: 0px 1px 0px 1px;
}
.title-head{
  font-size: 20px;
  font-style: normal;
}
.column_picture1{
  display: inline-block;      /* インラインブロック要素にする */
  margin: 10px 0px 10px 0px;
  background-color: white;
}
.column1{
  display: inline-block;      /* インラインブロック要素にする */
  margin: 10px 0px 30px 0px;
  height: 300px;
  background-color: white;
}
.column1_text{
  margin: 20px 30px 20px 30px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
}
.a_link{
  color: white;
}


aai