body{
  color: #333;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 13px;
}
// buttonのリセット--------------------------------------
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
a{
  text-decoration: none;
  color: #333333;
}
a:active {
  color: #333333;
}
a:hover {
  text-decoration: none;
  color: #333333;
  opacity: 1;
}
.confirm_btn{
  color: #55c550;
}
.cancel_btn, .delete_btn{
  color: #ea352d;
}
.cursor_pointer{
  cursor: pointer;
}
//サイドバーに関する調整-------------------------
.sidebar{
  background-color: rgb(245, 248, 250);
  min-height: 90vh;
}
.border_right{
  border-right: solid 1px rgba(0,0,0,0.1);
}
.border_left{
  border-left: solid 1px rgba(0,0,0,0.1);
}
.border_top{
  border-top: solid 1px rgba(0,0,0,0.1);
}
.border_bottom{
  border-bottom: solid 1px rgba(0,0,0,0.1);
}
//マージンに関する調整--------------------------
.margin_auto{
  margin: auto;
}
.background_theme_color {
  background-color:#f5f8fa;
}
.background_cha {
  background-color: rgb(250, 255, 250);
}
.margin_bottom_14{
  margin-bottom: 14px;
}
.margin_bottom_20{
  margin-bottom: 20px;
}
.margin_left_30{
  margin-left: 30px;
}
.margin_top_40{
  margin-top: 40px;
}
.margin_bottom_0{
  margin-bottom: 0;
}
//paddingに関する調整-------------------------
.padding_bothside{
  padding: 0px 20px 0px 20px !important;
}
.padding_bothside_30{
  padding: 0px 30px 0px 30px !important;
}
.padding_left_30{
  padding-left: 30px;
}
.padding_left_70{
  padding-left: 70px;
}
.padding_top{
  padding-top: 20px;
}
.padding_bottom{
  padding-bottom: 10px;
}
//フォントサイズに関する調整--------------------
.fontsize_13{
  font-size: 13px
}
.fontsize_25{
  font-size: 25px;
}
.fontsize_12{
  font-size: 12px;
}
.fontsize_20{
  font-size: 20px;
}
.fontsize_15{
  font-size: 15px;
}
.fontsize_18{
  font-size: 18px;
}
//テキスト位置に関する調整---------------------
.text_align_center{
  text-align: center;
}
.text_align_left{
  text-align: left;
}
//背景色に関する調整-------------------------
.background_color{
  background-color: rgb(245, 248, 250);
}
.background_color_white{
  background-color: #ffffff;
}
.background_color_light_black{
  background-color: #f5f5f5;
}

.user_searched{
  background-color: white;
}
.user_searched:hover{
  background-color: rgb(245,248,250);
}

// 幅調整
.w-13{
  max-width: 13%;
}
.w-22{
  max-width: 22%;
}
.w-90{
  max-width: 90%;
}
// 高さ・幅に関する調整
.height_input{
  height: 35px;
}
.width_input{
  width: 300px;
}
.height_200_input{
  height: 200px;
}
.width_input_600{
  width: 600px;
}