.notification {
  .notice {
    background-color: #38AEF0;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0px !important;
    border-radius: 0px;
  }

  .alert {
    background-color: #F35500;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0px !important;
    border-radius: 0px;
  }

  .success{
    background-color: #7EBFD4;
    color: #ffffff;
    text-align: center;
  }
}