.image-form{
  width: 850px;
  margin: 0 auto;
}
.image-box{
  width: 100%;
}

#image-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  li{
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .image-preview{
    width: 160px;
    height: 120px;
    img{
      object-fit: cover;
    }
  }
  .preview-btn{
    text-align: center;
  }
}

#image-drop-box{
  border-radius: 4px;
  border: 1px dashed #AAAAAA;
  background-color: #eeeeee;
  height: 160px;
  text-align: center;
  padding-top: 60px;
  width: 850px;
}
.head_box{
  display: flex;
  .photo_date{
    margin-right: 20px;
  }
  .comment{
    font-size: 16px;
  }
  .edit-comment{
    cursor: pointer;

  }
  .delete-image{
    cursor: pointer;
    color: #ea352d;
  }

}
.photo-box {
  width: 160px;
  height: 120px;
  margin: 0 10px 10px 0;
}

// 写真投稿ページ ----------------------------
.col-9{
  padding: 10px 50px 10px 70px;
}
.com{
  font-size:25px;
  margin-top: 40px;
  text-align: center; 
}
.photo_date{
  font-size: 16px;
  margin-bottom: 20px;
}
.photo_box{
  height: 100px;
  width: 200px;
  background-color: aqua;
}