.privacy_policy_box{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.privacy_policy_header{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.privacy_policy_top{
    margin-bottom: 10px;
}
.privacy_policy{
    margin-bottom: 10px;
    font-size: 18px;
}
.privacy_policy_text{
    margin-bottom: 20px;
}
