.regulation_container{
    background-color: rgb(245, 248, 250)
}
.regulation_box{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.regulation_header{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.regulation_top{
    margin-bottom: 10px;
}
.regulation{
    margin-bottom: 10px;
    font-size: 18px;
}
.regulation_text{
    margin-bottom: 20px;
}
.update_date{
    margin-bottom: 30px;
}
