//ユーザー検索
.search_box{
    background-color: rgb(245, 248, 250);
    text-align:center;
    background-color: white;
}
.margin{
    margin-top: 20px;
    font-size: 18px;
}
.kensaku{
    font-size: 14px;
    background-color: white;
    margin: 0px auto 0px auto;
    @media screen and (max-width:479px) {
        padding: 0 5% 0 5%;
    }
    @media only screen and (min-width:480px) and (max-width:950px) {
        padding: 0 20% 0 20%;
    }
    @media screen and (min-width:951px) {
        padding: 0 20% 0 20%;
    }
}
.kensaku_form_group{
    text-align: left;
    font-size: 14px;
    text-align: center;
    background-color: rgb(245, 248, 250);
    
}
.search_form_group{
    margin: auto;

}
.kensaku_form{
    margin: 5vh 0 5vh 0px;
    padding-left: 14px;
}
.kensaku_body{
    padding-left: 70px;
}
.input_box{
    width: 60px;
    margin: 0px 0px 5px 5px;
}
.between{
    display: inline-block;
}
.user_searched{
    .avatar_searched {
        float: left;
        overflow: hidden;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0px 0px 0px 20px;
        border:1px solid #AAAAAA;
        img{
            width: 60px;
            height: 60px;
            object-fit: cover;
          }
    }
    .user_detail_searched {
        float: none;
        border-color: yellow;
        width: auto;
        margin-left: 80px;
        text-align: left;
        font-size: 16px;
        .name {
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: left;
            margin-left: 20px;
        }
        .body {
            display: inline-block;
            text-align: left;
            margin-left: 20px;
            font-style: italic;
        }
        .experience {
            display: inline-block;
            font-size: 14px;
            text-align: left;
            margin-left: 20px;
            font-style: italic;
        }
    }
}
