//ユーザー検索
.uniti{
    background-color: rgb(245, 248, 250);
    text-align:center;
    background-color: white;
}
.margin{
    margin-top: 20px;
}
.kensaku{
    font-size: 18px;
    background-color: white;
    margin: 0px auto 10px auto;
}
.kensaku_form_group{
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
}
.kensaku_form{
    display: block;
    margin-bottom: 16px;
}
.hoge{
    width: 200px;
}
.huga{
    width: 60px;
}
.between{
    display: inline-block;
}
.user_profile1{
    margin-bottom: 20px;
}
.user_image {
    float: left;
    border-color: yellow;
    width: 80px;
    height: 80px;
    background-color: cyan;
    border-radius: 50%;
    margin: 0px 0px 0px 20px;
}

.user_name1 {
    float: none;
    border-color: yellow;
    width: auto;
    margin-left: 100px;
    height: 80px;
    align-items: center;
    font-size: 16px;
}
.namae {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 20px;
}
.shousai {
    text-align: left;
    margin-left: 20px;
    font-style: italic;
}

