// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.toppage{
  width: 100vw;
  img{
    width: 100%;
  }
}
.headline{
  background-color: rgb(245, 248, 250);
}
.about_service{
  font-size: 25px;
  font-style: italic;
}
.about_service_text{
  font-size: 15px;
  margin: 0px 0px 40px 0px;

}
.colum_picture,.colum_introduction,.training_calender,.training_calender_picture{
  float: left;
  border-color: yellow;
  width: 50%;
}
.colum_picture{
  display: inline-block;      /* インラインブロック要素にする */
  margin: 10px 0px 0px 0px;
  background-color: white;
}
.colum_introduction{
  display: inline-block;      /* インラインブロック要素にする */
  margin: 10px 0px 0px 0px;
  height: 400px;
  background-color: white;
  .message{
    margin: 50px 0px 0px 0px;
    font-size: 30px;
    font-style: italic;
  }
  .sub_message{
    margin: 20px 0px 0px 0px;
    font-size: 20px;
    font-style: italic;
  }
  .message_text{
    margin: 40px 0px 40px 0px;
    font-size: 15px;
    font-style: italic;
  }
  .btn.btn-primary.learn_button1{
    background-color: black;
    border-color: black;
    height: 40px;
    margin: 0px 0px 0px 0px;
  }
}
.training_calender{
  display: inline-block;      /* インラインブロック要素にする */
  margin: 0px 0px 0px 0px;
  height: 400px;
  background-color: white;
  .message{
    margin: 50px 0px 0px 0px;
    font-size: 30px;
    font-style: italic;
  }
  .sub_message{
    margin: 20px 0px 0px 0px;
    font-size: 20px;
    font-style: italic;
  }
  .message_text{
    margin: 40px 0px 40px 0px;
    font-size: 15px;
    font-style: italic;
  }
  .btn.btn-primary.learn_button2{
    background-color: black;
    border-color: black;
    height: 40px;
    margin: 0px 0px 0px 0px;
  }
}
.training_calender_picture{
  display: inline-block;      /* インラインブロック要素にする */
  background-color: white;
}


.policy{
  display: inline-block;
  margin: auto;
}
.inline-block{
  display: inline-block;
}

.below_tab{
  margin-top: 1.5px;
}
.block{
  display: block;
}
.suzuki{
  margin-top: 20px;
}
.width-100{
  width: 100%;
}
