//総負荷量のグラフ

.radio_btn{
  display: none;
}
input[type=radio]:checked + .part_label {
  border: 3px solid #000;
}
input[type=radio]:checked + .unit_label {
  border: 3px solid #000;
}
.chart{
  height: 400px;
  width: 900px;
}