
.col-9{
    padding: 10px 50px 10px 70px;
}
.com{
    font-size:25px;
    margin-top: 40px;
    text-align: center; 
}
.photo_date{
    font-size: 16px;
    margin-bottom: 20px;
}
.photo_box{
    height: 100px;
    width: 200px;
    background-color: aqua;
}