// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ログインページ
.form_group{
  margin-top: 24px;
}
.col-4{
  margin-bottom: 48px;
}
.Log_in_top{
  background-color: rgb(245, 248, 250);
  min-height: 80vh;
}

// 新規登録ページ
.registration_top{
  background-color: rgb(245, 248, 250);
}

//プロフィール写真
.user_info{
}
.btn.btn-primary.my-6{
  width: 60px;
  margin-left: auto;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px
}
.avatar{
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  border:1px solid #AAAAAA;
  img{
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

// フォローボタン
.follow_now_btn{
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  background-color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 10px;
  transition: .4s;
}
.for_follow_btn{
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 10px;
  transition: .4s;
}
.follow{
  &__number{
    display: inline-block;
    font-weight: bold;
  }
  &__string{
    display: inline-block;
  }
}




.edit_avatar{
  text-align: center;
}

//ニックネーム
.nickname{
  font-size: 13px;
  margin: 20px 0px 10px 0px;
  text-align: center;
}

//ボディー表示
.body{
  box-sizing: border-box;
  font-size: 14px;
  .height{
    box-sizing: border-box;
    display: inline-block;
  };
  .weight{
    box-sizing: border-box;
    display: inline-block;
  }
}

// userbody のフォーム
// 表示をするには display, block にする
//-----------------------------------------------------
.body_modal{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  overflow-x: hidden;
  overflow-y: auto;
  &__inner{
    margin: 40px 500px;
    &__body{
      background: white;
    }

  }
}
// 背景を薄暗くする
.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  z-index: 2999;
  background: #000;
  opacity: 0.64
}
.animation{
  opacity: 1;
}
// htmlに付け加える
.modal_open{
  overflow: hidden !important;
}
.show{
  display: block !important;
}
//-----------------------------------------------------

input[type="date"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button{
  -webkit-appearance: none;
}
#new_training_record{
  input[type="date"]::-webkit-calendar-picker-indicator{
    background: transparent;
    position: absolute;
    -webkit-appearance: none;
  }
}
// 幅調整
.w-13{
  max-width: 13%;
}
.w-22 {
  max-width: 22%;
}
.w-90{
  max-width: 90%;
}

// calendarの日のボタン
.day{
  &:hover{
    background-color: #aaaaaa;
    cursor : pointer;
  }
}
.checked{
  background-color: #aaaaaa!important;
}


// recordの削除ボタン
.record_delete_btn {
  cursor: pointer;
}

.menu-list {
  list-style-type: none;
}

.remove_hidden_class{
  cursor: pointer;
}
.add_hidden_class {
  cursor: pointer;
}
.hidden {
  display: none;
}

.records_boxes{
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-color: #eeeeee;
  padding: 0.5em 0 0.5em 1em;
}

$part_font_size: 14px;
.chest_color{
  text-align: center;
  background-color: blue;
  color: white;
  border-radius: 10px;
  font-size: $part_font_size;
}

.sholder_color{
  text-align: center;
  background-color: green;
  color: white;
  border-radius: 10px;
  font-size: $part_font_size;
}
.arms_color{
  text-align: center;
  background-color: yellowgreen;
  color: white;
  border-radius: 10px;
  font-size: $part_font_size;
}
.back_color{
  text-align: center;
  background-color: violet;
  color: white;
  border-radius: 10px;
  font-size: $part_font_size;
}
.foots_color{
  text-align: center;
  background-color: orange;
  color: white;
  border-radius: 10px;
  font-size: $part_font_size;
}
.aerobics_color{
  text-align: center;
  background-color: brown;
  color: white;
  border-radius: 10px;
  font-size: $part_font_size;
}

//ユーザーカード
.userinfo_link{
  color: #007bff;
  font-style: italic;
}
.userinfo_link_list{
  list-style: none;
  padding: 0px 10px 0px 10px ;
  margin-top: 15px;
}
