= render partial: "shared/user_body_edit"

-# 本文
.row
  .col-2.my-5.ml-5.justify-content-center.w-13
    = render partial: "shared/user_info", locals: { userbody: @userbody, user: @user }

  -# ここから自由に描いてください
  .col-7
    %h1　ここにユーザー画像
