-# 本文
.row
  .col-2.sidebar.my-0.ml-0.justify-content-center
    = render partial: "shared/user_info", locals: { userbody: @userbody, user: @user }

  -# ここから自由に描いてください
  .col-9
    .com Photo
    <hr>
    .photo_date 2019/6/12
    .photo_box 写真
    <hr>
  .col-2